.walkingSkelly {
  position: absolute;
  animation-name: skeleton;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  left: 0;
}

@keyframes skeleton {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
